* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anek Telugu", sans-serif;
    font-optical-sizing: auto;
}
//Ready classes//
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}
////Navbar////
// Logo
.App {
    @extend .column;
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: rgb(59, 59, 59);
    position: relative;

    .nav-bar {
        @extend .row, .center;
        height: 85px;
        justify-content: space-between;
        .logo-box {
            padding: 1rem;
            @extend .row;
            align-items: center;
            width: 20%;
            gap: 1rem;
            .logo {
                width: 80px;
                height: 80px;
                background-image: url(./images/logo.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .logo-h1 {
                font-size: 2vw;
            }
        }
        .search-box {
            position: relative;
            @extend .row, .center;
            width: 40%;
            height: 50px;
            .scope-icon {
                right: 8px;
                position: absolute;
                width: 40px;
                height: fit-content;
            }
            .search {
                font-size: 1.5rem;
                width: 100%;
                height: 50px;
                background-color: rgb(255, 255, 255);
                border-radius: 1rem;
                border: 5px solid white;
                &:focus {
                    border-color: #dbdbdb;
                }
            }
        }
        .user-icon-box {
            width: 10%;
            @extend .row, .center;

            width: 10%;
            height: 100%;
            .user-icon-name {
            }
            .user-icon {
                width: 3rem;
                height: fit-content;
            }
        }
        .search-results {
            width: 10%;
        }
    }
    .main {
        @extend .center;
        width: 100vw;
        height: 100vh;
        background-color: rgb(46, 46, 46);
        // background-image: url(./images/gold.jpeg);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        .movie-box {
            @extend .row, .center;
            padding: 2rem;
            width: 100vw;
            height: 30vh;
            gap: 1rem;

            .movie-list {
                @extend .row;

                width: 100%;
                height: 100%;
                gap: 3rem;
            }
            .fa-solid {
                font-size: 3rem;
                cursor: pointer;
            }
            .movie {
                @extend .column;

                gap: 1rem;
                img {
                    width: 125px;
                }
            }
        }
    }
}
